[client]
port    = 3306
socket    = /var/lib/mysql/mysql.sock
[mysqld_safe]
socket    = /var/lib/mysql/mysql.sock
nice    = 0
[mysqld]
user    = mysql
pid-file  = /var/run/mysqld/mysqld.pid
socket    = /var/lib/mysql/mysql.sock
port      = 3306
basedir   = /usr
datadir   = /var/lib/mysql
tmpdir    = /tmp
skip-external-locking


bind-address    = 0.0.0.0


key_buffer         = #{ val1[2:64] }M
max_allowed_packet = #{ val2[2:64] }M
thread_stack       = #{ val3[64:512] }K
thread_cache_size  = #{ val4[2:16] }
myisam-recover     = BACKUP
query_cache_limit  = #{ val5[1:4] }M
query_cache_size   = #{ val6[4:32] }M
log_error          = /var/log/mysqld.log
expire_logs_days   = 10
max_binlog_size    = 100M

default-storage-engine = InnoDB



[mysqldump]
quick
quote-names
max_allowed_packet = 16M
[mysql]
[isamchk]
key_buffer    = 16M

!includedir /etc/my.cnf.d


